:root {
  --main-font: "Roboto", sans-serif;
  --main-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: #212121;
}

.logo-accent-footer {
  color: #ffffff;
}

.navigation a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--accent-color);
}

.navigation .current {
  color: var(--accent-color);
}

.contacts a {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/*страница студии*/
h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--background-color);
}

.hero-btn {
  color: #ffffff;
  background-color: #2196f3;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

h2 {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
}

h3 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.features-text p {
  font-size: 14px;
  line-height: 1.7;
}

.command {
  background-color: #f5f4fa;
}

.command-text p {
  font-size: 16px;
  line-height: 1.19;
}

/* Футер */

.footer {
  background-color: var(--background-color);
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
}

.address-contacts a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
}

.address-contacts a:hover,
.address-contacts a:focus {
  color: var(--accent-color);
}

/* Портфолио*/

.list-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
}
.filters .current {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-text {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.9;
}
